feature-indexer/semantic-annotator/skip_s100.txt
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
venv/
venv/*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
.gradle*

05_place_insert.sql
*.backup